

.form {
    background-color: rgba(241, 241, 236, 0.35);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Divbutton {
    padding-bottom: 10px;
}

.button {
    padding: 10px 60px;
    background-color: rgba(42, 93, 194, 0.778);
    color: black;
    transition: background-color 0.4s, box-shadow 0.4s, color 0.4s;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.button:hover {
    background-color: #e7e7e7;
    color: rgb(11, 11, 11);
    box-shadow: 3px 3px 5px black;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
}

.input:hover {
    background-color: transparent;
}

.input:focus {
    outline: none;
    border-color: #6a9b37;
    box-shadow: 0 0 5px rgba(106, 155, 55, 0.5);
}
