@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');
.ContainerProductDetail {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fefefe;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: "Cactus Classical Serif", serif;
    font-weight: 400;
  }
  
  .ContainerProductDetail .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .ContainerProductDetail a {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .ContainerProductDetail a:hover {
    background-color: #0056b3;
  }
  
  .ContainerProductDetail button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .ContainerProductDetail button:hover {
    background-color: #c82333;
  }
  